### VisualStudioCode ###
./sdb.dothome/vscode/*
!./sdb.dothome/vscode/settings.json
!./sdb.dothome/vscode/tasks.json
!./sdb.dothome/vscode/launch.json
!./sdb.dothome/vscode/extensions.json
!./sdb.dothome/vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
./sdb.dothome/vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

./sdb.dothome/metadata/

